<h1>Longestword#game</h1>
<p>Find me in app/views/longestword/game.html.erb</p>



<% @generate_grid(9) %>

<form action="/restaurants" method="get">
  <input type="text" name="wordplayer" placeholder="What kind of food?">
  <input type="submit">
</form>




